body {
	margin: 0;
	min-height: 100vh;
	overflow-x: hidden;
}

header {
	margin: 0;
	height: 100px;
	width: 100%;
	overflow: hidden;
	background: rgb(52, 52, 52);
	position: relative;
	position: fixed;
	z-index: 9999;
	top: 0;
}

#header-logo {
	display: inline-flex;
	padding-left: 20px;
	height: 100px;
	align-items: center;
}

#header-logo > img {
	width: 60px;
	height: 60px;
	filter: invert(100%);
}

#header-text {
	font-family: "Rajdhani";
	color: white;
	padding: 10px;
	font-size: 3em;
}

#header-button {

	display: inline-flex;
	height: 100px;
	float: right;
	align-items: center;
}

#header-button table tr {
	display: flex;
	width: 450px;
	justify-content: space-between;
	margin-right: 20px;

}
#header-button table tr td {
	text-align: center;
	background: rgb(150, 150, 150);
	color: black;
	width: 200px;
	padding: 20px 0;
	margin: 0px 5px;
	font-size: 1.1em;
	font-family: "roboto";
	cursor: pointer;
}

#header-button table tr td:hover {
	background-color: #ff6666;
	color: white;
	transition-duration: 0.5s;
}
#main-image-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
	margin-top: 100px;
	border: 2px solid rgb(25,25,25);
	box-shadow: 0px 0px 5px black;
}

#main-image-slider > img {
	height: 100%;
	width: 100%;
	position: absolute;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

#main-image-slider img.hidden {
	left: -100%;
	z-index: 1;
}	

#main-image-slider img.hidden-right {
	left: 100%;
	z-index: -1;
	transition-duration: 0s;
}	

#main-image-slider img.show {
	left: 0%;
	z-index: 2;
}

#slider-text {
	position: absolute;
	z-index: 99;
	left: 0; right: 0; top: 0; bottom: 0;
	width: 600px;
	height: 200px;
	margin: auto auto;
	color: white;
	font-family: "Rajdhani";
	font-size: 4em;
	font-weight: bolder;
}

#quote {
	text-align: center;
	display: block;
	font-family: "Dancing Script";
	font-size: 2.5em;
	padding: 40px;
	color: black;
	position: relative;
}

#author {
	float: right;
	font-size: 0.7em;	
	margin: 10px;
	font-family: "Rajdhani";
}